<img src="/img/{{model.image}}" alt="{{model.name}}">
<p>Source: {{model.source}}</p>
<p><a href="/model/{{model.id}}"></a></p>
<h4>{{model.name}}</h4>
<p>{{#link-to 'item.nutrition'}}Nutrition{{/link-to}}</p>

{{outlet}}